<html lang="en">
<head>
    <title> DeckShop </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    
<header>
    <div id="hamburger">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>
    
        <ul class="menu__box">
        
            <li><a class="menu__item" href="http://localhost:3000/">Strona Główna</a></li>
            <li><a class="menu__item" href="http://localhost:3000/about">Podpis</a></li>
        </ul>
        </div>
    <div id="title">DECKSHOP</div>
    <div id="logo"><img src="icon.png" alt="logo"></div>
    
</header>

<div id="text">
    <p>Stronę wykonał:</p>
    <h1>Bartosz Surowiec 3B</h1>
</div>



</body>
</html>